$container-bg: #EFEFEF;
$cell-bg-dark: #e02626;
$cell-bg-dark-offset: #717171;
$cell-bg-light: #FFFFFF;
$font-heading: bold;
$text-xsmall: 7px;
$text-small: 8px;
$text-medium: 9px;
$text-large: 12px;
$text-xlarge: 60px;