@import 'variables';

body {
	font-family: 'Quicksand', sans-serif;
	font-size: $text-large;
}
section {
	width: 100%;
}
table {
	width: 100%;
}
th {
	background-color: $cell-bg-dark;
	font-size: $text-medium;
}

th:first-child {
	text-align: left;
	padding-left: 3px;
}

.stat-line th,td {
	width: 10px;
}

td {
	background-color: $cell-bg-light;
	font-size: $text-medium;
	text-align: center;
}

td:first-child {
	text-align: left;
	padding-left: 3px;
	width: 20%;
}

.card {
	width: 11.5cm;
	min-height: 7.5cm;
	background-color: $container-bg;
	padding: 2px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	border: 1px solid #CCCCCC;
}

.card div {
	text-align: center;
}

#name {
	font-size: $text-medium;
	margin: 0 2px;
}

.ability-heading {
	font-size: $text-medium;
	font-weight: bold;
	padding-left: 3px;
}

.ability {
	font-size: $text-small;
}

.cp-cost {
	width: 5%;
}

#experience {
	margin: auto auto 0 auto;
}

#experience span {
	font-size: $text-medium;
	margin: 0 4px;
}