@import 'variables';

body {
  font-family: 'Arvo', serif;
  font-size: $text-large;
}

section {
  width: 100%;
}

table {
  width: 100%;
}

th {
  background-color: $cell-bg-dark;
  font-size: $text-small;
}

th:first-child {
  text-align: left;
  padding-left: 3px;
}

td {
  background-color: $cell-bg-light;
  font-size: $text-small;
  text-align: center;
}

td:first-child {
  text-align: left;
  padding-left: 3px;
}

#roster-title {
  text-align: center;
  text-transform: uppercase;
  font-size: $text-xlarge;
  font-family: 'Black Ops One', cursive;
}

#roster-title hr {
  margin: 0 0 5px;
}

#roster-resources th, #roster-resources td {
  font-size: $text-large;
}

.resources {
  text-align: left;
  padding: 3px;
}

.resources-value {
  float: right;
}

#roster-units th, #roster-units td {
  font-size: $text-medium;
}

.roster-cell-heading {
  background-color: $cell-bg-dark;
}

.roster-cell-body {
  background-color: $cell-bg-dark-offset;
}

.roster-body {
  background-color: $container-bg;
}

.card {
  width: 11.5cm;
  min-height: 7.5cm;
  background-color: $container-bg;
  padding: 2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #CCCCCC;
}

.card td:first-child {
  width: 20%;
}

#name {
  font-size: $text-medium;
  margin: 0 2px;
}

.unit-line th:first-child {
  width: 20%
}

.unit-line th:not(:first-child) {
  width: 8%;
}

.weapon-line th:first-child {
  width: 21%;
}

.weapon-line th:not(:first-child) {
  width: 9%;
}

.abilities-heading {
  font-size: $text-small;
  padding: 0 4px;
  font-weight: bold;
  margin: 2px 0;
}

.specialism {
  font-weight: normal;
}

th.ability, td.ability {
  width: 99%
}

td.ability{
  font-size: $text-xsmall;
}

.cp-cost {
  min-width: 25px;
}

#experience {
  margin: auto auto 0 auto;
}

#experience span {
  font-size: $text-small;
  margin: 0 4px;
}

@media screen {
  #cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    margin: 3px;
  }
}

@media print {
  #roster {
    page-break-after: always;
  }
  .card {
    float: left;
    page-break-inside: avoid;
  }
}