@import 'variables';

body {
  font-family: 'Arvo', serif;
  font-size: $text-large;
}

section {
  width: 100%;
}

table {
  width: 100%;
}

th {
  background-color: $cell-bg-dark;
  font-size: $text-small;
}

th:first-child {
  text-align: left;
  padding-left: 3px;
}

td {
  background-color: $cell-bg-light;
  font-size: $text-small;
  text-align: center;
}

td:first-child {
  text-align: left;
  padding-left: 3px;
  width: 20%;
}

#roster-title {
  text-align: center;
  text-transform: uppercase;
  font-size: $text-xlarge;
  font-family: 'Black Ops One', cursive;
}

#roster-title hr {
  margin: 0 0 5px;
}

#roster-resources th, #roster-resources td {
  font-size: $text-large;
}

#roster-units th, #roster-units td {
  font-size: $text-medium;
}

.roster-cell-heading {
  background-color: $cell-bg-dark;
}

.roster-cell-body {
  background-color: $cell-bg-dark-offset;
}

.roster-body {
  background-color: $container-bg;
}

.card {
  width: 11.5cm;
  min-height: 7.5cm;
  background-color: $container-bg;
  padding: 2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #CCCCCC;
}

#name {
  font-size: $text-medium;
  margin: 0 2px;
}

.stat-line th, td {
  width: 10px;
}

.specialism {
  font-size: $text-medium;
}

.abilities-heading {
  font-size: $text-medium;
  padding: 0 3px;
  font-weight: bold;
}

.ability {
  font-size: $text-xsmall;
}

.cp-cost {
  width: 5%;
}

#experience {
  margin: auto auto 0 auto;
}

#experience span {
  font-size: $text-small;
  margin: 0 4px;
}

@media screen and (min-width: 900px) {
  #cards {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    margin: 3px;
  }
}

@media print {
  #roster {
    page-break-after: always;
  }
  .card {
    page-break-inside: avoid;
  }

}