$th-background-color: red;
$td-background-color: white;
$card-background-color: #efefef;
$card-border-color: #bbbbbb;
$card-width: 11.5cm;
$card-height: 7.5cm;
$card-padding: 0.1cm;
$card-first-child: 2cm;
$card-last-child: 3cm;