@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Oswald:600|EB+Garamond:400,400i,700');

body {
  font-family: $body-font;
}

th {
  background-color: $th-background-color;
  padding: 2px;
  font-family: $header-font;
}

h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  font-family: $header-font;
  margin: 0;
}

h2 {
  font-size: 1em;
  font-family: $header-font;
  margin: 0;
  padding-left: 0.1cm;
}

#resources {
  margin-bottom: 0.5cm;
}

table.campaign {
  width: 100%;
  & th, td {
    width: (100% / 5);
  }
  & tr > th:first-child {
    text-align: left;
    padding-left: 0.2cm;
  }
  & tr > td:last-child {
    width: 10%;
    text-align: center;
  }
  & td {
    border: 1px solid #666666;
  }
  & table.resource {
    & td {
      border: none;
    }
    & td:last-child {
      text-align: right;
      width: 50%;
      padding-right: 0.2cm;
    }
  }
}



table.roster {
  width: 100%;
  background-color: $card-background-color;
  & th {
    width: (100% / 7);
    font-size: 0.9em;
    font-family: 'Oswald', sans-serif;
  }
  & td {
    background-color: $td-background-color;
    text-align: center;
    font-size: 0.7em;
  }
}

.card {
  width: $card-width - $card-padding;
  min-height: $card-height - $card-padding;
  background-color: $card-background-color;
  border-radius: 0.4em;
  padding: $card-padding;
  font-size: 0.7em;
  border: 0.02cm solid $card-border-color;
  position: relative;
  & .header {
    display: flex;
    flex-direction: row;
    & > div {
      flex-basis: 33%;
      text-align: center;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  & table {
    width: $card-width - $card-padding;
    font-size: 1em;
    text-align: center;
  }
  & th {
    &:first-child {
      text-align: left;
      min-width:2cm;
      padding-left: 0.1cm;
    }
  }
  & td {
    background-color: $td-background-color;
    // padding: 0.05cm;
    border: 1px solid $card-background-color;
    &:first-child {
      text-align: left;
      min-width: 2cm;
      width: 2cm;
      padding-left: 0.1cm;
    }
    &.sub-header {
      background-color: transparent;
      font-weight: bold;
      font-family: $header-font;
    }
    &.sub-body {
      background-color: transparent;
      font-weight: bold;
      text-align: left;
      padding-left: 0.1cm;
    }
  }
}

.unit {
  & th, td {
    &:not(:first-child) {
      width: (($card-width - ($card-padding * 2) - $card-first-child) / 10)
    }
  }
}

.weapons {
  & th, td {
    &:not(:first-child):not(:last-child) {
      width: (($card-width - ($card-padding * 2) - $card-first-child - $card-last-child) / 5)
    }
  }
  & th, td {
    &:last-child {
      min-width: $card-last-child;
    }
  }
}

@media screen {
  #cards {
    display: flex;
    flex-wrap: wrap;
    & .card {
      margin: $card-padding;
    }
  }
}

@media print {
  #roster {
    page-break-after: always;
  }
  .card {
    float: left;
    page-break-inside: avoid;
  }
}